.home-page {
  position: relative;
  width: 1920px;
  height: 2616px;
  background-color: #d6d6d6;
  font-family: "Inter", Helvetica, sans-serif;
}

body {
  padding-top: 60px; /* Adjust this value based on the actual height of your group-18 */
}

.home-page .overlap {
  position: absolute;
  width: 1500px;
  height: 2489px;
  top: 127px;
  left: 275px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.home-page .overlap-group {
  position: absolute;
  width: 308px;
  height: 350px;
  top: 511px;
  left: 1118px;
}

.home-page .group {
  position: absolute;
  width: 308px;
  height: 69px;
  top: 278px;
  left: 0;
}

.home-page .text-wrapper {
  position: absolute;
  width: 44px;
  top: 0;
  left: 20px;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div {
  width: 56px;
  top: 0;
  left: 238px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 7px;
  text-align: right;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .p {
  position: absolute;
  width: 56px;
  top: 61px;
  left: 0;
  opacity: 0.5;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-2 {
  position: absolute;
  width: 300px;
  top: 19px;
  left: 0;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .image {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 8px;
}

.home-page .rectangle {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 13px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .rating {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  left: 264px;
}

.home-page .rectangle-2 {
  position: absolute;
  width: 147px;
  height: 350px;
  top: 0;
  left: 153px;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.home-page .ellipse {
  top: 150px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 227px;
  background-color: #001d3d;
  border-radius: 25px;
}

.home-page .element {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 275px;
  left: 0;
  object-fit: cover;
}

.home-page .forward {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 165px;
  left: 242px;
}

.home-page .overlap-2 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 643px;
}

.home-page .img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 13px;
  object-fit: cover;
}

.home-page .text-wrapper-3 {
  position: absolute;
  width: 77px;
  top: 49px;
  left: 0;
  font-family: "Jaro-Regular", Helvetica;
  font-weight: 400;
  color: #000814;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1.50px;
  line-height: normal;
  white-space: nowrap;
}

.home-page .overlap-3 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 172px;
}

.home-page .overlap-4 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 486px;
}

.home-page .overlap-5 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 800px;
}

.home-page .overlap-6 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 1114px;
}

.home-page .overlap-7 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 1271px;
}

.home-page .overlap-8 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 957px;
}

.home-page .overlap-9 {
  position: absolute;
  width: 77px;
  height: 67px;
  top: 343px;
  left: 329px;
}

.home-page .overlap-10 {
  position: absolute;
  width: 1324px;
  height: 220px;
  top: 73px;
  left: 102px;
}

.home-page .group-2 {
  position: absolute;
  width: 1324px;
  height: 220px;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.home-page .overlap-group-2 {
  position: absolute;
  width: 829px;
  height: 220px;
  top: 0;
  left: 487px;
  background-color: #0000001a;
}

.home-page .text-wrapper-4 {
  position: absolute;
  height: 1px;
  top: 50px;
  left: 63px;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: -0.80px;
  line-height: 40px;
  white-space: nowrap;
}

.home-page .rectangle-3 {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 81px;
  left: 69px;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .overlap-11 {
  position: absolute;
  width: 703px;
  height: 72px;
  top: 110px;
  left: 63px;
}

.home-page .text-wrapper-5 {
  position: absolute;
  width: 137px;
  top: 48px;
  left: 205px;
  background: linear-gradient(90deg, rgba(115, 115, 115, 1) 0%, rgba(217, 217, 217, 1) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  color: transparent;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-6 {
  position: absolute;
  width: 703px;
  top: 0;
  left: 0;
  font-weight: 500;
  color: #737373;
  font-size: 20px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .gojo-figurine {
  position: absolute;
  width: 487px;
  height: 220px;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.home-page .group-3 {
  position: absolute;
  width: 1270px;
  height: 50px;
  top: 85px;
  left: 23px;
}

.home-page .back-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  background-color: #ffc300;
  border-radius: 25px;
}

.home-page .img-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
}

.home-page .forward-wrapper {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 1220px;
  background-color: #ffc300;
  border-radius: 25px;
}

.home-page .text-wrapper-7 {
  position: absolute;
  height: 1px;
  top: 460px;
  left: 125px;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.home-page .text-wrapper-8 {
  position: absolute;
  height: 1px;
  top: 910px;
  left: 125px;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.home-page .overlap-12 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 102px;
  background-image: url('% static "img/homepage/feature item 1.png" %');
  background-size: 100% 100%;
  border-radius: 8px;
}

.home-page .rectangle-4 {
  position: absolute;
  width: 120px;
  height: 20px;
  top: 10px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .img-3 {
  top: 5px;
  left: 266px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.home-page .overlap-13 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 441px;
  background-image: url('% static "img/homepage/recommended item 1.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .rectangle-5 {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 10px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .rating-2 {
  top: 5px;
  left: 264px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.home-page .overlap-14 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 780px;
  background-image: url('% static "img/homepage/recommended item 2.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .rectangle-6 {
  position: absolute;
  width: 99px;
  height: 20px;
  top: 10px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .overlap-15 {
  position: absolute;
  width: 308px;
  height: 347px;
  top: 961px;
  left: 102px;
}

.home-page .group-4 {
  position: absolute;
  width: 308px;
  height: 347px;
  top: 0;
  left: 0;
}

.home-page .text-wrapper-9 {
  position: absolute;
  width: 56px;
  top: 277px;
  left: 240px;
  opacity: 0.5;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-10 {
  position: absolute;
  width: 56px;
  top: 339px;
  left: 0;
  opacity: 0.5;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-16 {
  position: absolute;
  width: 300px;
  height: 24px;
  top: 297px;
  left: 0;
}

.home-page .text-wrapper-11 {
  position: absolute;
  width: 300px;
  top: 0;
  left: 0;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-12 {
  position: absolute;
  width: 74px;
  top: 12px;
  left: 226px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(171, 171, 171, 1) 34%, rgba(255, 255, 255, 1) 70%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  color: transparent;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .div-wrapper {
  position: absolute;
  width: 46px;
  height: 8px;
  top: 277px;
  left: 20px;
}

.home-page .text-wrapper-13 {
  width: 44px;
  top: 0;
  left: 0;
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-17 {
  position: absolute;
  width: 300px;
  height: 350px;
  top: 961px;
  left: 441px;
  background: linear-gradient(to bottom, #003566, #001D3D);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .plus {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 116px;
  left: 120px;
}

.home-page .add-to-your {
  position: absolute;
  top: 195px;
  left: 104px;
  font-weight: 400;
  color: #ffc300;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .group-5 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 786px;
  left: 441px;
}

.home-page .text-wrapper-14 {
  width: 66px;
  top: 3px;
  left: 20px;
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-15 {
  width: 56px;
  top: 3px;
  left: 244px;
  position: absolute;
  opacity: 0.5;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-16 {
  position: absolute;
  width: 56px;
  top: 64px;
  left: 0;
  opacity: 0.5;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-17 {
  position: absolute;
  width: 300px;
  top: 22px;
  left: 0;
  font-weight: 700;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .element-2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.home-page .group-6 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 786px;
  left: 780px;
}

.home-page .text-wrapper-18 {
  width: 74px;
  top: 3px;
  left: 226px;
  opacity: 0.5;
  font-weight: 400;
  font-size: 7px;
  text-align: right;
  line-height: normal;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .group-7 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 786px;
  left: 102px;
}

.home-page .text-wrapper-19 {
  width: 44px;
  top: 3px;
  left: 20px;
  position: absolute;
  font-weight: 400;
  color: #000000;
  font-size: 7px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .group-8 {
  position: absolute;
  width: 1324px;
  height: 270px;
  top: 1421px;
  left: 102px;
}

.home-page .overlap-18 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 0;
  background-image: url('% static "img/homepage/recommended item 3.png" %');
  background-size: 100% 100%;
  border-radius: 8px;
}

.home-page .overlap-19 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 339px;
  background-image: url('% static "img/homepage/recommended item 4.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-20 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 678px;
  background-image: url('% static "img/homepage/recommended item 5.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .text-wrapper-20 {
  height: 1px;
  top: 1370px;
  left: 125px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .group-12 {
  position: absolute;
  width: 1318px;
  height: 399px;
  top: 1831px;
  left: 102px;
}

.home-page .group-13 {
  position: absolute;
  width: 1324px;
  height: 350px;
  top: 49px;
  left: 0;
}

.home-page .group-14 {
  position: absolute;
  width: 308px;
  height: 69px;
  top: 279px;
  left: 0;
}

.home-page .image-3 {
  top: 1px;
  object-fit: cover;
  position: absolute;
  width: 300px;
  height: 270px;
  left: 0;
  border-radius: 8px;
}

.home-page .rectangle-7 {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 14px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .rating-3 {
  top: 9px;
  left: 264px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.home-page .ellipse-2 {
  top: 151px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 227px;
  background-color: #001d3d;
  border-radius: 25px;
}

.home-page .element-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 276px;
  left: 0;
  object-fit: cover;
}

.home-page .forward-2 {
  top: 166px;
  left: 242px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.home-page .overlap-21 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 0;
  background-image: url('% static "img/homepage/recommended item 6.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-22 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 339px;
  background-image: url('% static "img/homepage/recommended item 7.png" %');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-23 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 678px;
  background-image: url('/static/img/homepage/recommended item 8.png');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .group-15 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 339px;
}

.home-page .group-16 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 678px;
}

.home-page .group-17 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 0;
}

.home-page .text-wrapper-21 {
  height: 1px;
  top: 0;
  left: 23px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .group-18 {
  position: fixed;
  width: 1790px;
  height: 130px;
  top: 0;
  left: 130px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #00000040;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures it stays above other content */
}

.home-page .rectangle-8 {
  position: absolute;
  width: 100px;
  height: 26px;
  top: 51px;
  left: 1606px;
  background-color: #d9d9d9;
  border-radius: 13px;
}

.home-page .overlap-group-wrapper {
  position: absolute;
  width: 923px;
  height: 52px;
  top: 38px;
  left: 443px;
  border-radius: 50px;
  box-shadow: inset 0px 4px 21.3px -11px #00000040;
  background-color: #f5f5f5;
}

.home-page .search-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  top: 7px;
  left: 872px;
  border-radius: 18.62px;
}

.home-page .search {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.home-page .rectangle-9 {
  position: fixed;
  width: 130px;
  height: 1200px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #00000040;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
  z-index: 1001
}

.home-page .home-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background-image: url('% static "img/homepage/nav bar select.png" %');
  background-size: 100% 100%;
}

.home-page .home {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 15px;
}

.home-page .chat-room {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.home-page .settings {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.home-page .doorbell {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.home-page .a {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 250px;
  object-fit: cover;
  border-radius: 40px;
}

.home-page .transparent-icon {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 15px;
  left: 15px;
  object-fit: cover;
}