.home-page .overlap-group-3 {
  position: absolute;
  width: 308px;
  height: 350px;
  top: 0;
  left: 1016px;
}

.home-page .image-2 {
  top: 0;
  position: absolute;
  width: 300px;
  height: 270px;
  left: 0;
}

.home-page .overlap-12 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 102px;
  background-image: url('{% static "img/homepage/sections/recommended 1.png" %}');
  background-size: 100% 100%;
  border-radius: 8px;
}

.home-page .overlap-13 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 441px;
  background-image: url('{% static "img/homepage/sections/recommended 2.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-14 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 511px;
  left: 780px;
  background-image: url('{% static "img/homepage/sections/recommended 3.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-18 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 0;
  background-image: url('{% static "img/homepage/sections/image-6.png" %}');
  background-size: 100% 100%;
  border-radius: 8px;
}

.home-page .overlap-19 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 339px;
  background-image: url('{% static "img/homepage/sections/image-3.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-20 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 0;
  left: 678px;
  background-image: url('{% static "img/homepage/sections/image-11.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .group-9 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 275px;
  left: 339px;
}

.home-page .group-10 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 275px;
  left: 678px;
}

.home-page .group-11 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 275px;
  left: 0;
}

.home-page .text-wrapper-20 {
  height: 1px;
  top: 1370px;
  left: 125px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .group-12 {
  position: absolute;
  width: 1318px;
  height: 399px;
  top: 1831px;
  left: 102px;
}

.home-page .group-13 {
  position: absolute;
  width: 1324px;
  height: 350px;
  top: 49px;
  left: 0;
}

.home-page .group-14 {
  position: absolute;
  width: 308px;
  height: 69px;
  top: 279px;
  left: 0;
}

.home-page .image-3 {
  top: 1px;
  object-fit: cover;
  position: absolute;
  width: 300px;
  height: 270px;
  left: 0;
  border-radius: 8px;
}

.home-page .rectangle-7 {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 14px;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.home-page .rating-3 {
  top: 9px;
  left: 264px;
  position: absolute;
  width: 30px;
  height: 30px;
}

.home-page .ellipse-2 {
  top: 151px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 227px;
  background-color: #001d3d;
  border-radius: 25px;
}

.home-page .element-3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 276px;
  left: 0;
  object-fit: cover;
}

.home-page .forward-2 {
  top: 166px;
  left: 242px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.home-page .overlap-21 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 0;
  background-image: url('{% static "img/homepage/sections/image-10.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-22 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 339px;
  background-image: url('{% static "img/homepage/sections/image-12.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .overlap-23 {
  position: absolute;
  width: 300px;
  height: 270px;
  top: 1px;
  left: 678px;
  background-image: url('{% static "img/homepage/sections/image-9.png" %}');
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 8px;
}

.home-page .group-15 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 339px;
}

.home-page .group-16 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 678px;
}

.home-page .group-17 {
  position: absolute;
  width: 308px;
  height: 72px;
  top: 276px;
  left: 0;
}

.home-page .text-wrapper-21 {
  height: 1px;
  top: 0;
  left: 23px;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.home-page .text-wrapper-22 {
  position: absolute;
  top: 65px;
  left: 1744px;
  font-weight: 700;
  color: #737373;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .group-wrapper {
  position: absolute;
  width: 923px;
  height: 52px;
  top: 38px;
  left: 443px;
  border-radius: 50px;
  box-shadow: inset 0px 4px 21.3px -11px #00000040;
}