.landing-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .landing-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1920px;
    height: 2553px;
    position: relative;
  }
  
  .landing-page .overlap {
    position: absolute;
    width: 1947px;
    height: 2924px;
    top: 75px;
    left: 0;
  }
  
  .landing-page .log-in {
    position: absolute;
    width: 225px;
    height: 68px;
    top: 525px;
    left: 130px;
  }
  
  .landing-page .overlap-group {
    position: relative;
    width: 223px;
    height: 68px;
    background-color: #d9d9d9;
  }
  
  .landing-page .text-wrapper {
    position: absolute;
    top: 14px;
    left: 78px;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000814;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .group {
    position: absolute;
    width: 753px;
    height: 122px;
    top: 391px;
    left: 130px;
  }
  
  .landing-page .overlap-2 {
    position: relative;
    width: 749px;
    height: 122px;
  }
  
  .landing-page .your-collection-s {
    position: absolute;
    width: 749px;
    top: 2px;
    left: 0;
    transform: rotate(-0.33deg);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .p {
    position: absolute;
    width: 749px;
    top: 52px;
    left: 0;
    transform: rotate(-0.33deg);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .items {
    position: absolute;
    width: 193px;
    height: 126px;
    top: 635px;
    left: 130px;
  }
  
  .landing-page .overlap-3 {
    position: relative;
    width: 189px;
    height: 126px;
  }
  
  .landing-page .text-wrapper-2 {
    position: absolute;
    width: 188px;
    top: 1px;
    left: 0;
    transform: rotate(-0.33deg);
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-3 {
    position: absolute;
    width: 93px;
    top: 58px;
    left: 0;
    transform: rotate(-0.33deg);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .trades {
    position: absolute;
    width: 193px;
    height: 126px;
    top: 635px;
    left: 380px;
  }
  
  .landing-page .users {
    position: absolute;
    width: 159px;
    height: 126px;
    top: 635px;
    left: 630px;
  }
  
  .landing-page .overlap-4 {
    position: relative;
    width: 155px;
    height: 126px;
  }
  
  .landing-page .text-wrapper-4 {
    position: absolute;
    width: 155px;
    top: 1px;
    left: 0;
    transform: rotate(-0.40deg);
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-5 {
    position: absolute;
    width: 76px;
    top: 58px;
    left: 0;
    transform: rotate(-0.40deg);
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 27px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-6 {
    position: absolute;
    width: 684px;
    height: 208px;
    top: 164px;
    left: 130px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 100px;
    letter-spacing: 0;
    line-height: 104.0px;
  }
  
  .landing-page .sign-up {
    position: absolute;
    width: 225px;
    height: 68px;
    top: 525px;
    left: 470px;
  }
  
  .landing-page .div-wrapper {
    position: relative;
    width: 223px;
    height: 68px;
    background-color: #003566;
  }
  
  .landing-page .text-wrapper-7 {
    position: absolute;
    width: 93px;
    height: 33px;
    top: 14px;
    left: 65px;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .landing-page .overlap-5 {
    position: absolute;
    width: 1947px;
    height: 2924px;
    top: 0;
    left: 0;
  }
  
  .landing-page .group-2 {
    position: absolute;
    width: 185px;
    height: 181px;
    top: 0;
    left: 1724px;
  }
  
  .landing-page .overlap-6 {
    position: absolute;
    width: 136px;
    height: 42px;
    top: 0;
    left: 0;
  }
  
  .landing-page .rectangle {
    width: 121px;
    height: 42px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .landing-page .text-wrapper-8 {
    position: absolute;
    width: 104px;
    top: 10px;
    left: 32px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-9 {
    position: absolute;
    width: 162px;
    top: 153px;
    left: 17px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-10 {
    position: absolute;
    width: 70px;
    top: 81px;
    left: 40px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .discover {
    position: absolute;
    width: 1169px;
    height: 519px;
    top: 1825px;
    left: 377px;
  }
  
  .landing-page .item {
    position: absolute;
    width: 254px;
    height: 400px;
    top: 119px;
    left: 0;
  }
  
  .landing-page .text-wrapper-11 {
    position: absolute;
    width: 210px;
    top: 373px;
    left: 17px;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .landing-page .text-wrapper-12 {
    position: absolute;
    width: 144px;
    top: 340px;
    left: 48px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .rectangle-2 {
    width: 250px;
    height: 325px;
    top: 0;
    background-color: #d9d9d9;
    position: absolute;
    left: 0;
  }
  
  .landing-page .untitled-design {
    left: 15px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 334px;
    object-fit: cover;
  }
  
  .landing-page .item-2 {
    position: absolute;
    width: 254px;
    height: 400px;
    top: 119px;
    left: 300px;
  }
  
  .landing-page .img {
    left: 17px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 334px;
    object-fit: cover;
  }
  
  .landing-page .item-3 {
    position: absolute;
    width: 254px;
    height: 400px;
    top: 119px;
    left: 600px;
  }
  
  .landing-page .untitled-design-2 {
    left: 13px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 334px;
    object-fit: cover;
  }
  
  .landing-page .item-4 {
    position: absolute;
    width: 254px;
    height: 400px;
    top: 119px;
    left: 900px;
  }
  
  .landing-page .untitled-design-3 {
    left: 18px;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 334px;
    object-fit: cover;
  }
  
  .landing-page .text-wrapper-13 {
    position: absolute;
    width: 370px;
    top: 0;
    left: 0;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .see-all {
    position: absolute;
    width: 105px;
    top: 26px;
    left: 1060px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .rectangle-3 {
    width: 101px;
    height: 23px;
    top: 822px;
    background-color: #ffd60a;
    position: absolute;
    left: 0;
  }
  
  .landing-page .group-3 {
    position: absolute;
    width: 121px;
    height: 18px;
    top: 1497px;
    left: 899px;
  }
  
  .landing-page .ellipse {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 80px;
  }
  
  .landing-page .ellipse-2 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 0;
    background-color: #ffd60a;
    border-radius: 7.5px;
  }
  
  .landing-page .ellipse-3 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 25px;
    background-color: #ffd60a;
    border-radius: 7.5px;
    border: 1px solid;
  }
  
  .landing-page .ellipse-4 {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 106px;
    background-color: #ffd60a;
    border-radius: 7.5px;
  }
  
  .landing-page .ellipse-5 {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 51px;
    background-color: #ffd60a;
    border-radius: 9px;
    border: 3px solid;
    border-color: #ffc300;
  }
  
  .landing-page .text-wrapper-14 {
    position: absolute;
    width: 313px;
    top: 864px;
    left: 175px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .see-all-2 {
    position: absolute;
    width: 105px;
    top: 911px;
    left: 1558px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .frame {
    position: absolute;
    width: 1725px;
    height: 525px;
    top: 952px;
    left: 101px;
    overflow: hidden;
    overflow-x: scroll;
  }
  
  .landing-page .frame::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  
  .landing-page .overlap-group-wrapper {
    position: absolute;
    width: 354px;
    height: 525px;
    top: 0;
    left: 686px;
  }
  
  .landing-page .overlap-group-2 {
    position: relative;
    width: 350px;
    height: 525px;
  }
  
  .landing-page .text-wrapper-15 {
    position: absolute;
    width: 316px;
    top: 466px;
    left: 13px;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-16 {
    width: 202px;
    top: 430px;
    position: absolute;
    left: 64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .image {
    position: absolute;
    width: 322px;
    height: 356px;
    top: 9px;
    left: 13px;
  }
  
  .landing-page .rectangle-4 {
    width: 350px;
    height: 525px;
    top: 0;
    border: 5px solid;
    border-color: #000000;
    position: absolute;
    left: 0;
  }
  
  .landing-page .untitled-design-4 {
    top: 424px;
    left: 21px;
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .landing-page .overlap-wrapper {
    position: absolute;
    width: 304px;
    height: 475px;
    top: 50px;
    left: 273px;
  }
  
  .landing-page .overlap-7 {
    position: relative;
    width: 300px;
    height: 475px;
  }
  
  .landing-page .text-wrapper-17 {
    position: absolute;
    width: 265px;
    top: 420px;
    left: 16px;
    font-family: "Jaro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .text-wrapper-18 {
    width: 173px;
    top: 382px;
    position: absolute;
    left: 64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .bone {
    position: absolute;
    width: 297px;
    height: 361px;
    top: 0;
    left: 2px;
    object-fit: cover;
  }
  
  .landing-page .rectangle-5 {
    width: 300px;
    height: 475px;
    top: 0;
    border: 5px solid;
    border-color: #000000;
    position: absolute;
    left: 0;
  }
  
  .landing-page .untitled-design-5 {
    top: 374px;
    left: 23px;
    position: absolute;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .landing-page .item-5 {
    position: absolute;
    width: 300px;
    height: 475px;
    top: 50px;
    left: -140px;
  }
  
  .landing-page .item-6 {
    position: absolute;
    width: 300px;
    height: 475px;
    top: 50px;
    left: 1562px;
  }
  
  .landing-page .group-4 {
    position: absolute;
    width: 304px;
    height: 475px;
    top: 50px;
    left: 1149px;
  }
  
  .landing-page .text-wrapper-19 {
    width: 173px;
    top: 379px;
    position: absolute;
    left: 64px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .landing-page .image-2 {
    position: absolute;
    width: 275px;
    height: 325px;
    top: 16px;
    left: 11px;
  }
  
  .landing-page .image-3 {
    position: absolute;
    width: 272px;
    height: 64px;
    top: 0;
    left: 743px;
    object-fit: cover;
  }
  
  .landing-page .group-5 {
    position: absolute;
    width: 1029px;
    height: 792px;
    top: 35px;
    left: 918px;
  }
  
  .landing-page .overlap-8 {
    position: relative;
    width: 1002px;
    height: 792px;
  }
  
  .landing-page .black-white-modern {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 0;
    left: 166px;
    object-fit: cover;
  }
  
  .landing-page .black-white-modern-2 {
    position: absolute;
    width: 448px;
    height: 570px;
    top: 100px;
    left: 13px;
  }
  
  .landing-page .oo {
    position: absolute;
    width: 372px;
    height: 393px;
    top: 362px;
    left: 0;
  }
  
  .landing-page .oo-2 {
    position: absolute;
    width: 200px;
    height: 446px;
    top: 340px;
    left: 282px;
  }
  
  .landing-page .black-white-modern-3 {
    position: absolute;
    width: 495px;
    height: 522px;
    top: 270px;
    left: 507px;
    object-fit: cover;
  }
  
  .landing-page .rectangle-6 {
    width: 1920px;
    height: 2140px;
    top: 784px;
    background: linear-gradient(
      180deg,
      rgba(217, 217, 217, 0) 0%,
      rgba(246, 246, 246, 1) 78%,
      rgba(255, 255, 255, 1) 100%
    );
    position: absolute;
    left: 0;
  }
  
  .landing-page .register-to-unlock {
    position: absolute;
    width: 370px;
    top: 2051px;
    left: 775px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
  }
  
  .landing-page .group-6 {
    position: absolute;
    width: 152px;
    height: 50px;
    top: 2052px;
    left: 779px;
  }
  
  .landing-page .overlap-9 {
    position: relative;
    width: 150px;
    height: 50px;
    background-color: #ffc300;
  }
  
  .landing-page .text-wrapper-20 {
    position: absolute;
    width: 139px;
    top: 0;
    left: 11px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #001d3d;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
  }
  
  .landing-page .lootloop-trnsparent {
    position: fixed;
    width: 135px;
    height: 135px;
    top: 33px;
    left: 65px;
    object-fit: cover;
  }
  