{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}" />
  </head>
  <body>
    <div class="user-profile-page">
      <div class="overlap">
        <div class="overlap-group">
          <img class="image" src="{% static 'img/profile/banner.png' %}" />
          <div class="box">
            <div class="nav">
              <div class="overlap-group">
                <div class="rectangle"></div>
                <div class="text-wrapper">Home</div>
              </div>
              <div class="div">Wishlist</div>
              <div class="text-wrapper-2">History</div>
              <div class="text-wrapper-3">Collections</div>
            </div>
          </div>
          <div class="prof-info">
            <div class="box">
              <div class="prof-info">
                <p class="text-wrapper">
                  Anime collectibles are my passion! From figures and keychains to art books and limited-edition merch—I love
                  hunting for rare gems. Always open to trading, so let’s help each other complete our collections!
                </p>
                <div class="group">
                  <div class="overlap">
                    <div class="following">
                      <div class="overlap-group">
                        <div class="div">14</div>
                        <div class="text-wrapper-2">Following</div>
                      </div>
                    </div>
                    <div class="followers">
                      <div class="overlap-2">
                        <div class="div">8</div>
                        <div class="text-wrapper-3">Followers</div>
                      </div>
                    </div>
                    <div class="trades">
                      <div class="overlap-3">
                        <div class="text-wrapper-4">3</div>
                        <div class="overlap-group-wrapper">
                          <div class="overlap-group-2">
                            <div class="text-wrapper-5">Trades</div>
                            <img class="eva-question-mark" src="{% static 'img/profile/more info.png' %}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <img class="majesticons-share" src="{% static 'img/profile/share.png' %}" />
                <div class="overlap-4">
                  <div class="group-2">
                    <div class="div-wrapper">
                      <div class="overlap-group-3">
                        <div class="rectangle"></div>
                        <div class="text-wrapper-6">Edit profile</div>
                      </div>
                    </div>
                    <div class="overlap-wrapper">
                      <div class="overlap-5"><div class="text-wrapper-7">Sign out</div></div>
                    </div>
                  </div>
                  <img class="mi-edit" src="{% static 'img/profile/edit.png' %}" />
                  <img class="uil-signout" src="{% static 'img/profile/signout.png' %}" />
                </div>
                <div class="overlap-6">
                  <div class="text-wrapper-8">TreasureHunter</div>
                  <div class="text-wrapper-9">@otaku</div>
                </div>
                <img class="line" src="{% static 'img/profile/line.png' %}" />
                <img class="img" src="{% static 'img/profile/line.png' %}" />
                <img class="a" src="{% static 'img/profile/profile big.png' %}" />
              </div>
            </div>
          </div>
        <div class="frame">
          <div class="fb">
            <div class="post">
              <div class="overlap-7">
                <div class="overlap-8">
                  <div class="text-wrapper-11">TreasureHunter</div>
                  <div class="text-wrapper-12">1 March at 4:30</div>
                  <img class="a-2" src="{% static 'img/profile/profile small.png' %}" />
                </div>
                <p class="p">
                  Just added another piece to my collection. My shelf is running out of space, but my heart is full. 🥹✨
                </p>
                <div class="group-3">
                  <div class="overlap-group-5">
                    <img class="image-2" src="{% static 'img/profile/post 1.png' %}" />
                    <img class="image-3" src="{% static 'img/profile/post 2.png' %}" />
                  </div>
                </div>
                <div class="group-4">
                  <div class="text-wrapper-13">1</div>
                  <div class="text-wrapper-14">0</div>
                  <div class="text-wrapper-15">0</div>
                  <img class="facebook-like" src="{% static 'img/profile/like.png' %}" />
                  <img class="facebook-like-2" src="{% static 'img/profile/dislike.png' %}" />
                  <img class="mdi-comment" src="{% static 'img/profile/comment.png' %}" />
                </div>
                <img class="oi-ellipses" src="{% static 'img/profile/menu.png' %}" />
              </div>
            </div>
            <img class="line-2" src="{% static 'img/profile/line.png' %}" />
            <div class="frame-2">
              <div class="highlights">
                <img class="image-4" src="{% static 'img/profile/highlight 1.png' %}" />
                <img class="image-5" src="{% static 'img/profile/highlight 2.png' %}" />
                <img class="image-6" src="{% static 'img/profile/highlight 3.png' %}" />
                <img class="image-7" src="{% static 'img/profile/highlight 4.png' %}" />
              </div>
              <div class="text-wrapper-16">Highlights</div>
            </div>
            <div class="group-5">
              <div class="overlap-9">
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <div class="group-6">
                  <img class="vector" src="{% static 'img/profile/attachment.png' %}" />
                  <img class="group-7" src="{% static 'img/profile/photo.png' %}" />
                  <img class="vector-2" src="{% static 'img/profile/video.png' %}" />
                </div>
                <img class="a-3" src="{% static 'img/profile/profile small.png' %}" />
                <div class="rectangle-4"></div>
                <p class="text-wrapper-17">What’s new in your collection, TreasureHunter?</p>
              </div>
            </div>
            <div class="group-8">
              <div class="overlap-10">
                <div class="text-wrapper-18">No more posts.</div>
                <img class="line-3" src="{% static 'img/profile/line.png' %}" />
                <img class="line-4" src="{% static 'img/profile/line.png' %}" />
              </div>
              <img class="line-5" src="{% static 'img/profile/line.png' %}" />
            </div>
          </div>
        </div>
        <div class="latest-updates">
          <div class="overlap-12">
            <div class="overlap-13">
              <div class="text-wrapper-23">Latest updates</div>
              <div class="overlap-14">
                <div class="bluey">
                  <div class="overlap-group-6">
                    <p class="text-wrapper-24">akosiblueyyy shared a post:<br />"Fate/Stay Night collectors...</p>
                    <div class="text-wrapper-25">1 hour ago</div>
                  </div>
                  <img class="img-2" src="{% static 'img/homepage modals/pfp 6.png' %}" />
                </div>
                <div class="katsu">
                  <div class="overlap-15">
                    <p class="text-wrapper-24">KatsuraDa posted an update:<br />"Finally got my hands on th...”</p>
                    <div class="text-wrapper-25">Just Now</div>
                  </div>
                  <img class="img-2" src="{% static 'img/homepage modals/pfp 2.png' %}" />
                </div>
                <img class="line-6" src="{% static 'img/profile/line.png' %}" />
              </div>
            </div>
            <div class="dory">
              <div class="text-wrapper-26">findingdory posted an update.</div>
              <div class="text-wrapper-27">1 hour ago</div>
              <img class="img-2" src="{% static 'img/homepage modals/pfp 3.png' %}" />
            </div>
            <div class="cora">
              <div class="text-wrapper-28">Coraline posted an update.</div>
              <div class="text-wrapper-29">4 hours ago</div>
              <img class="pfp" src="{% static 'img/homepage modals/pfp 5.png' %}" />
            </div>
          </div>
        </div>
        <div class="suggestions">
          <div class="overlap-12">
            <div class="overlap-16">
              <div class="text-wrapper-30">Suggestions</div>
              <div class="asunta">
                <div class="text-wrapper-31">Asunta de Rousey</div>
                <div class="group-9">
                  <div class="follow">
                    <div class="overlap-group-3">
                      <div class="rectangle-6"></div>
                      <div class="text-wrapper-32">Follow</div>
                    </div>
                  </div>
                  <div class="remove">
                    <div class="overlap-17"><div class="text-wrapper-33">Remove</div></div>
                  </div>
                </div>
                <img class="img-2" src="{% static 'img/homepage modals/pfp 1.png' %}" />
              </div>
              <div class="ruleth">
                <div class="text-wrapper-34">areyouleth</div>
                <div class="group-10">
                  <div class="follow">
                    <div class="overlap-group-3">
                      <div class="rectangle-6"></div>
                      <div class="text-wrapper-32">Follow</div>
                    </div>
                  </div>
                  <div class="remove">
                    <div class="overlap-17"><div class="text-wrapper-33">Remove</div></div>
                  </div>
                </div>
                <img class="img-2" src="{% static 'img/homepage modals/pfp 4.png' %}" />
              </div>
              <img class="line-7" src="{% static 'img/profile/line.png' %}" />
            </div>
            <div class="pat">
              <div class="text-wrapper-35">TheIronPat</div>
              <div class="group-11">
                <div class="follow">
                  <div class="overlap-group-3">
                    <div class="rectangle-6"></div>
                    <div class="text-wrapper-32">Follow</div>
                  </div>
                </div>
                <div class="remove">
                  <div class="overlap-17"><div class="text-wrapper-33">Remove</div></div>
                </div>
              </div>
              <img class="img-2" src="{% static 'img/homepage modals/pfp 2.png' %}" />
            </div>
            <div class="dha">
              <div class="text-wrapper-36">AMDHASiRUSWAN?</div>
              <div class="group-12">
                <div class="follow">
                  <div class="overlap-group-3">
                    <div class="rectangle-6"></div>
                    <div class="text-wrapper-32">Follow</div>
                  </div>
                </div>
                <div class="remove">
                  <div class="overlap-17"><div class="text-wrapper-33">Remove</div></div>
                </div>
              </div>
              <img class="img-2" src="{% static 'img/homepage modals/pfp 6.png' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="transparent-icon-wrapper"><img class="transparent-icon" src="{% static 'img/logo.png' %}" /></div>
    </div>
  </body>
</html>