{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lootloop Registration</title>
    <link rel="stylesheet" href="{% static 'css/globals.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration/registration-modals.css' %}">
</head>
<body style="overflow: hidden;">
    <div class="registration-page">
        <div class="overlap">
            <div class="group">
                <div class="overlap-group">
                    <form id="emailForm" method="POST" action="{% url 'set_username' %}">
                        {% csrf_token %}
                        <div class="div-wrapper">
                            <input type="email" class="text-wrapper" name="email" placeholder="loot@loop.com" required aria-label="Email address" />
                        </div>
                        <div class="div">What’s your email?</div>
                        <p class="p">Don’t worry we won’t tell anyone.</p>
                        <p class="text-wrapper-2">
                            Allow Lootloop to send me notifications about updates, events and other contents.
                        </p>
                        <div class="text-wrapper-3">E-mail</div>
                        <img class="rectangle" src="{% static 'img/registration/rectangle.png' %}" alt="Checkbox" />
                        <div class="arrow-wrapper">
                            <button type="submit" aria-label="Submit email">
                                <img class="arrow" src="{% static 'img/registration/arrow.png' %}" alt="Submit Arrow" />
                            </button>
                        </div>
                    </form>
                    <div class="text-wrapper-4">Or Sign up with</div>
                    <div class="google-button">
                        <div class="overlap-group-2">
                            <div class="text-wrapper-5">Google</div>
                            <img class="google" src="{% static 'img/modals/google.png' %}" alt="Google" />
                            <div class="rectangle-2"></div>
                        </div>
                    </div>
                    <div class="fb-button">
                        <div class="overlap-group-2">
                            <div class="text-wrapper-6">Facebook</div>
                            <div class="rectangle-2"></div>
                            <img class="facebook" src="{% static 'img/modals/facebook.png' %}" alt="Facebook" />
                        </div>
                    </div>
                    <div class="apple-id-button">
                        <div class="overlap-group-2">
                            <div class="text-wrapper-7">Apple ID</div>
                            <div class="rectangle-2"></div>
                            <img class="ple" src="{% static 'img/modals/apple.png' %}" alt="Apple ID" />
                        </div>
                    </div>
                    <img class="line" src="{% static 'img/registration/line.png' %}" alt="Line Divider" />
                    <img class="img" src="{% static 'img/registration/line.png' %}" alt="Line Divider" />
                    <p class="already-have-an">
                        <span class="span">Already have an account?</span>
                        <span class="text-wrapper-8"> </span>
                        <span class="text-wrapper-9"><a href="{% url 'landing' %}">Sign in.</a></span>
                        <span class="text-wrapper-8"> </span>
                    </p>
                </div>
            </div>
            <img class="black-white-modern" src="{% static 'img/registration/logo white outline.png' %}" alt="Lootloop Logo" />
        </div>

        <!-- Modal Overlay -->
        <div class="modal-overlay" id="modalOverlay"></div>

        <!-- Username Modal -->
        <div class="username" id="usernameModal">
            <div class="overlap">
                <div class="group">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="text-wrapper">Choose a username.</div>
                        <div class="div">Make sure it’s unique.</div>
                        <div class="text-wrapper-2">Username</div>
                        <button class="arrow-wrapper next-button" form="usernameForm" aria-label="Next to Password">
                            <img class="arrow" src="{% static 'img/registration/arrow.png' %}" alt="Next" />
                        </button>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-3">Go back</div>
                                <img class="left" src="{% static 'img/left.png' %}" alt="Go back" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-wrapper-4">
                    <form id="usernameForm" method="POST" action="{% url 'set_username' %}">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="lootloop" required aria-label="Username" />
                    </form>
                </div>
            </div>
        </div>

        <!-- Password Modal -->
        <div class="password" id="passwordModal">
            <div class="overlap">
                <div class="group">
                    <div class="overlap-group">
                        <div class="rectangle"></div>
                        <div class="text-wrapper">Choose a password.</div>
                        <p class="div">Make sure it’s a good one.</p>
                        <div class="text-wrapper-2">Password</div>
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="text-wrapper-3">Go back</div>
                                <img class="left" src="{% static 'img/left.png' %}" alt="Go back" />
                            </div>
                        </div>
                        <div class="navigation-wrapper">
                            <button type="submit" form="passwordForm" class="next" aria-label="Submit Password">
                                <img class="arrow" src="{% static 'img/registration/arrow.png' %}" alt="Submit" />
                            </button>
                        </div>
                    </div>
                </div>
                <form id="passwordForm" method="POST" action="{% url 'set_password' %}">
                    {% csrf_token %}
                    <div class="text-wrapper-4">
                        <input type="password" name="password" placeholder="LOotL00P123!!!" required aria-label="Password" />
                    </div>
                    <div class="text-wrapper-5">Confirm Password</div>
                    <div class="text-wrapper-6">
                        <input type="password" name="confirm_password" placeholder="LOotL00P123!!!" required aria-label="Confirm Password" />
                    </div>
                </form>
                <div class="rectangle-2"></div>
                <div class="group-2">
                    <img class="close-window" src="{% static 'img/registration/close.png' %}" alt="Check" />
                    <p class="p">Must be Okay strength or better.</p>
                </div>
                <div class="group-3">
                    <img class="close-window" src="{% static 'img/registration/close.png' %}" alt="Check" />
                    <p class="p">Password is at least 8 characters long.</p>
                </div>
                <div class="group-4">
                    <img class="close-window" src="{% static 'img/registration/close.png' %}" alt="Check" />
                    <p class="text-wrapper-7">Password includes two of the following: letter, number, or symbol.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/registration-modals.js' %}"></script>
</body>
</html>